<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDRV_zrbNucT-vCgtiGfif3oBBQ2713YdA</string>
	<key>GCM_SENDER_ID</key>
	<string>693141663679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dairyqueen</string>
	<key>PROJECT_ID</key>
	<string>dairyqueen-a757b</string>
	<key>STORAGE_BUCKET</key>
	<string>dairyqueen-a757b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693141663679:ios:d167a3a857fbd8eeaabb0a</string>
</dict>
</plist>